# Archivos de IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Archivos de compilación
/target/
*.class
*.jar
*.original


# Configuración de Maven y Gradle
.mvn/
!mvn/wrapper/maven-wrapper.jar
.gradle/
/build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Variables de entorno y credenciales
.env

# Logs y archivos temporales
/log/
*.log
tmp/

# Dependencias de librerías
**/node_modules/
**/.cache/

# Docker y archivos relacionados
.dockerignore
